Repository duplicati/duplicati, pull requests merged in 2019-09, with the labels that each got.

#3901 Use dedicated method to create symbolic links to directories on Windows
  Duplicati/Library/Common/IO/SystemIOWindows.cs
Labels: windows

#3894 Add purging of deleted remote volumes from database
  Duplicati/Library/Main/Database/LocalDatabase.cs
  Duplicati/Library/Main/Operation/BackupHandler.cs
Labels: local database issue

#3885 typo ellipsis, added
  Duplicati/Server/webroot/ngax/index.html
  Duplicati/Server/webroot/ngax/scripts/controllers/RestoreController.js
  Duplicati/Server/webroot/ngax/scripts/controllers/RestoreDirectController.js
  Duplicati/Server/webroot/ngax/scripts/controllers/StateController.js
  Duplicati/Server/webroot/ngax/scripts/services/EditUriBuiltins.js
  Duplicati/Server/webroot/ngax/scripts/services/ServerStatus.js
  Duplicati/Server/webroot/ngax/templates/about.html
  Duplicati/Server/webroot/ngax/templates/addoredit.html
  Duplicati/Server/webroot/ngax/templates/backuplog.html
  Duplicati/Server/webroot/ngax/templates/edituri.html
  Duplicati/Server/webroot/ngax/templates/export.html
  Duplicati/Server/webroot/ngax/templates/home.html
  Duplicati/Server/webroot/ngax/templates/import.html
  Duplicati/Server/webroot/ngax/templates/localdatabase.html
  Duplicati/Server/webroot/ngax/templates/log.html
  Duplicati/Server/webroot/ngax/templates/notificationarea.html
  Duplicati/Server/webroot/ngax/templates/updatechangelog.html
Labels: UI
