Repository duplicati/duplicati, pull requests merged in 2020-09, with the labels that each got.

#4279 Add missing test categories to local test runner script
  pipeline/start.sh
Labels: tests

#4311 Add symlink policy tests
  .travis.yml
  Duplicati/UnitTest/BasicSetupHelper.cs
  Duplicati/UnitTest/BorderTests.cs
  Duplicati/UnitTest/CommandLineOperationsTests.cs
  Duplicati/UnitTest/DisruptionTests.cs
  Duplicati/UnitTest/Duplicati.UnitTest.csproj
  Duplicati/UnitTest/ProblematicPathTests.cs
  Duplicati/UnitTest/RecoveryToolTests.cs
  Duplicati/UnitTest/SVNCheckoutsTest.cs
  Duplicati/UnitTest/SymLinkTests.cs
  Duplicati/UnitTest/TestUtils.cs
  pipeline/start.sh
Labels: tests

#4321 Disable "legacy path handling" for executables
  Duplicati/CommandLine/BackendTester/app.config
  Duplicati/CommandLine/BackendTool/app.config
  Duplicati/CommandLine/ConfigurationImporter/app.config
  Duplicati/CommandLine/app.config
  Duplicati/GUI/Duplicati.GUI.TrayIcon/app.config
  Duplicati/Library/AutoUpdater/app.config
  Duplicati/Library/Snapshots/app.config
  Duplicati/Server/app.config
  Duplicati/Service/app.config
  Duplicati/WindowsService/App.config
Labels: windows

#4280 Clean up Travis build script
  pipeline/stage_build/job.sh
Labels: tests

#4291 Add mono-complete to Docker image to fix netstandard errors
  Installer/Docker/context/Dockerfile
Labels: docker, mono

#4292 Remove script used for previous Travis configuration
  build.sh
Labels: tests
