Repository duplicati/duplicati, pull requests merged in 2020-01, with the labels that each got.

#4031 Back up and restore inheritance breaks
  Duplicati/Library/Common/IO/SystemIOWindows.cs
Labels: needs testing, windows

#4033 Add tests to verify fileset files after purge and repair operations
  Duplicati/UnitTest/DisruptionTests.cs
Labels: tests

#4034 Add test for listing filesets without local database
  Duplicati/UnitTest/DisruptionTests.cs
Labels: tests

#4039 Windows Filters cleanup
  Duplicati/Library/Utility/FilterGroups.cs
Labels: windows

#4042 Fix exceptions caused by Stop Now
  Duplicati/Library/Main/Database/LocalDatabase.cs
  Duplicati/Library/Main/Operation/Backup/DataBlockProcessor.cs
  Duplicati/Library/Utility/RegistryUtility.cs
Labels: local database issue

#4043 Add test for interrupting backup with "stop now"
  Duplicati/UnitTest/DisruptionTests.cs
Labels: tests

#4058 Build true multi-arch Docker images and add arm64
  Installer/Docker/README.md
  Installer/Docker/build-images.sh
  Installer/Docker/context/Dockerfile
Labels: installer issue

#4053 Add test for restoring files using RecoveryTool
  .travis.yml
  Duplicati/CommandLine/RecoveryTool/Program.cs
  Duplicati/CommandLine/RecoveryTool/Restore.cs
  Duplicati/UnitTest/Duplicati.UnitTest.csproj
  Duplicati/UnitTest/RecoveryToolTests.cs
  pipeline/start.sh
Labels: tests

#4018 Refactor fileset deletion code and add tests
  .travis.yml
  Duplicati/Library/Main/Database/LocalDeleteDatabase.cs
  Duplicati/Library/Main/Operation/DeleteHandler.cs
  Duplicati/UnitTest/DeleteHandlerTests.cs
  Duplicati/UnitTest/Duplicati.UnitTest.csproj
  pipeline/start.sh
Labels: tests

#4061 Build RecoveryTool index in memory by default
  Duplicati/CommandLine/RecoveryTool/Duplicati.CommandLine.RecoveryTool.csproj
  Duplicati/CommandLine/RecoveryTool/FileIndex.cs
  Duplicati/CommandLine/RecoveryTool/Index.cs
  Duplicati/CommandLine/RecoveryTool/Program.cs
  Duplicati/CommandLine/RecoveryTool/Restore.cs
  Duplicati/UnitTest/RecoveryToolTests.cs
Labels: performance issue

#4077 Debian package - change minimum required mono-runtime version
  Installer/debian/debian/control
Labels: installer issue
